sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	border-style: none;
	height: 87.66666em;
	width: 62em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_04 {
	position: relative;
	width: 62em;
}
.stl_05 {
	height: 8.766666em;
}
.ie .stl_05 {
	height: 87.66666em;
}
@font-face {
	font-family:"EKTFUH+ArialMT";
	src:url("8379fa60-0000-0000-0000-000000000000.woff");
}
.stl_06 {
	color: #0000FF;
	font-size: 0.8375em;
	font-family: "EKTFUH+ArialMT";
}
.stl_07 {
	line-height: 1.117188em;
}
.stl_08 {
	letter-spacing: 0em;
}

.ie .stl_08 {
	letter-spacing: 0px;
}
.stl_09 {
	color: #800080;
	font-size: 0.8375em;
	font-family: "EKTFUH+ArialMT";
}
.stl_10 {
	letter-spacing: -0.0014em;
}

.ie .stl_10 {
	letter-spacing: -0.0194px;
}
.stl_11 {
	letter-spacing: -0.0016em;
}

.ie .stl_11 {
	letter-spacing: -0.0209px;
}
.stl_12 {
	letter-spacing: -0.0017em;
}

.ie .stl_12 {
	letter-spacing: -0.0224px;
}
.stl_13 {
	letter-spacing: -0.0013em;
}

.ie .stl_13 {
	letter-spacing: -0.0176px;
}
.stl_14 {
	letter-spacing: -0.0015em;
}

.ie .stl_14 {
	letter-spacing: -0.0197px;
}
@font-face {
	font-family:"JSKGUG+Arial-BoldMT";
	src:url("809053f8-0001-0000-0000-000000000000.woff");
}
.stl_15 {
	color: #FF0000;
	font-size: 0.8375em;
	font-family: "JSKGUG+Arial-BoldMT";
}
.stl_16 {
	letter-spacing: -0.0027em;
}

.ie .stl_16 {
	letter-spacing: -0.0358px;
}
.stl_17 {
	letter-spacing: -0.0018em;
}

.ie .stl_17 {
	letter-spacing: -0.0245px;
}
.stl_18 {
	color: #000000;
	font-size: 0.8375em;
	font-family: "EKTFUH+ArialMT";
}
.stl_19 {
	letter-spacing: -0.0012em;
}

.ie .stl_19 {
	letter-spacing: -0.0166px;
}
@font-face {
	font-family:"JEQKRG+ArialMT";
	src:url("38ac7c4c-0000-0000-0000-000000000000.woff");
}
.stl_20 {
	color: #000000;
	font-size: 0.8375em;
	font-family: "JEQKRG+ArialMT";
}
.stl_21 {
	letter-spacing: -0.0009em;
}

.ie .stl_21 {
	letter-spacing: -0.0122px;
}
.stl_22 {
	letter-spacing: -0.0019em;
}

.ie .stl_22 {
	letter-spacing: -0.0255px;
}
.stl_23 {
	letter-spacing: -0.0008em;
}

.ie .stl_23 {
	letter-spacing: -0.0104px;
}
@font-face {
	font-family:"TACWTJ+Calibri";
	src:url("5fb39fa4-0000-0000-0000-000000000000.woff");
}
.stl_24 {
	color: #000000;
	font-size: 0.8375em;
	font-family: "TACWTJ+Calibri";
}
.stl_25 {
	line-height: 1.220703em;
}
@font-face {
	font-family:"UETBGN+Arial-ItalicMT";
	src:url("253c76f4-0002-0000-0000-000000000000.woff");
}
.stl_26 {
	color: #000000;
	font-size: 0.8375em;
	font-family: "UETBGN+Arial-ItalicMT";
}
.stl_27 {
	letter-spacing: -0.0022em;
}

.ie .stl_27 {
	letter-spacing: -0.03px;
}
.stl_28 {
	letter-spacing: -0.0007em;
}

.ie .stl_28 {
	letter-spacing: -0.0099px;
}
.stl_29 {
	letter-spacing: -0.0025em;
}

.ie .stl_29 {
	letter-spacing: -0.033px;
}
@font-face {
	font-family:"INFIEI+Wingdings-Regular";
	src:url("0d185ee2-0000-0000-0000-000000000000.woff");
}
.stl_30 {
	color: #000000;
	font-size: 0.8375em;
	font-family: "INFIEI+Wingdings-Regular";
}
.stl_31 {
	line-height: 1.109863em;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.005px;
}
.stl_33 {
	letter-spacing: -0.0026em;
}

.ie .stl_33 {
	letter-spacing: -0.0343px;
}
.stl_34 {
	letter-spacing: -0.0011em;
}

.ie .stl_34 {
	letter-spacing: -0.0149px;
}
.stl_35 {
	color: #0000FF;
	font-size: 0.8375em;
	font-family: "JEQKRG+ArialMT";
}
.stl_36 {
	border-style: none;
	height: 127.5em;
	width: 90.16666em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_37 {
	position: relative;
	width: 90.16666em;
}
.stl_38 {
	height: 12.75em;
}
.ie .stl_38 {
	height: 127.5em;
}
.stl_39 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "JSKGUG+Arial-BoldMT";
}
.stl_40 {
	line-height: 1.117187em;
}
.stl_41 {
	letter-spacing: -0.0036em;
}

.ie .stl_41 {
	letter-spacing: -0.0484px;
}
.stl_42 {
	letter-spacing: -0.0033em;
}

.ie .stl_42 {
	letter-spacing: -0.0443px;
}
.stl_43 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "EKTFUH+ArialMT";
}
.stl_44 {
	letter-spacing: 0.002em;
}

.ie .stl_44 {
	letter-spacing: 0.0271px;
}
@font-face {
	font-family:"PJKGDQ+Arial-BoldMT";
	src:url("dfdadbdb-0001-0000-0000-000000000000.woff");
}
.stl_45 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "PJKGDQ+Arial-BoldMT";
}
.stl_46 {
	letter-spacing: 0.0091em;
}

.ie .stl_46 {
	letter-spacing: 0.1213px;
}
.stl_47 {
	letter-spacing: -0.0055em;
}

.ie .stl_47 {
	letter-spacing: -0.0736px;
}
.stl_48 {
	letter-spacing: -0.0106em;
}

.ie .stl_48 {
	letter-spacing: -0.1423px;
}
.stl_49 {
	letter-spacing: 0.0004em;
}

.ie .stl_49 {
	letter-spacing: 0.0056px;
}
.stl_50 {
	letter-spacing: 0.0029em;
}

.ie .stl_50 {
	letter-spacing: 0.0387px;
}
.stl_51 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "JEQKRG+ArialMT";
}
.stl_52 {
	letter-spacing: 0.0078em;
}

.ie .stl_52 {
	letter-spacing: 0.105px;
}
@font-face {
	font-family:"AFNJHQ+Arial-ItalicMT";
	src:url("cdb62eef-0002-0000-0000-000000000000.woff");
}
.stl_53 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "AFNJHQ+Arial-ItalicMT";
}
.stl_54 {
	letter-spacing: 0.0085em;
}

.ie .stl_54 {
	letter-spacing: 0.1131px;
}
.stl_55 {
	letter-spacing: -0.0113em;
}

.ie .stl_55 {
	letter-spacing: -0.1507px;
}
.stl_56 {
	letter-spacing: -0.0065em;
}

.ie .stl_56 {
	letter-spacing: -0.0868px;
}
.stl_57 {
	letter-spacing: -0.017em;
}

.ie .stl_57 {
	letter-spacing: -0.2271px;
}
.stl_58 {
	letter-spacing: 0.0061em;
}

.ie .stl_58 {
	letter-spacing: 0.0812px;
}
@font-face {
	font-family:"LJKVUV+Arial-BoldItalicMT";
	src:url("4fa754e4-0003-0000-0000-000000000000.woff");
}
.stl_59 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "LJKVUV+Arial-BoldItalicMT";
}
@font-face {
	font-family:"NFIPDG+Arial-BoldItalicMT";
	src:url("42cc495a-0003-0000-0000-000000000000.woff");
}
.stl_60 {
	color: #000000;
	font-size: 0.836333em;
	font-family: "NFIPDG+Arial-BoldItalicMT";
}
.stl_61 {
	letter-spacing: 0.0002em;
}

.ie .stl_61 {
	letter-spacing: 0.0022px;
}
.stl_62 {
	letter-spacing: -0.0043em;
}

.ie .stl_62 {
	letter-spacing: -0.0578px;
}
.stl_63 {
	letter-spacing: -0.0073em;
}

.ie .stl_63 {
	letter-spacing: -0.0973px;
}
.stl_64 {
	letter-spacing: 0.0025em;
}

.ie .stl_64 {
	letter-spacing: 0.0332px;
}
.stl_65 {
	letter-spacing: 0.0015em;
}

.ie .stl_65 {
	letter-spacing: 0.0207px;
}
.stl_66 {
	letter-spacing: 0.0005em;
}

.ie .stl_66 {
	letter-spacing: 0.0071px;
}
.stl_67 {
	letter-spacing: 0.0031em;
}

.ie .stl_67 {
	letter-spacing: 0.042px;
}
.stl_68 {
	letter-spacing: 0.0022em;
}

.ie .stl_68 {
	letter-spacing: 0.029px;
}
.stl_69 {
	letter-spacing: -0.0005em;
}

.ie .stl_69 {
	letter-spacing: -0.0062px;
}
.stl_70 {
	letter-spacing: 0.0009em;
}

.ie .stl_70 {
	letter-spacing: 0.012px;
}
.stl_71 {
	letter-spacing: 0.0039em;
}

.ie .stl_71 {
	letter-spacing: 0.0519px;
}
.stl_72 {
	letter-spacing: 0.0041em;
}

.ie .stl_72 {
	letter-spacing: 0.0553px;
}
.stl_73 {
	letter-spacing: 0.0054em;
}

.ie .stl_73 {
	letter-spacing: 0.0718px;
}
.stl_74 {
	letter-spacing: 0.0019em;
}

.ie .stl_74 {
	letter-spacing: 0.0255px;
}
.stl_75 {
	letter-spacing: 0.0083em;
}

.ie .stl_75 {
	letter-spacing: 0.1104px;
}
.stl_76 {
	letter-spacing: -0.0021em;
}

.ie .stl_76 {
	letter-spacing: -0.0277px;
}
.stl_77 {
	letter-spacing: 0.0044em;
}

.ie .stl_77 {
	letter-spacing: 0.0594px;
}
.stl_78 {
	letter-spacing: 0.0011em;
}

.ie .stl_78 {
	letter-spacing: 0.0147px;
}
.stl_79 {
	letter-spacing: -0.0041em;
}

.ie .stl_79 {
	letter-spacing: -0.0544px;
}
.stl_80 {
	letter-spacing: -0.0003em;
}

.ie .stl_80 {
	letter-spacing: -0.004px;
}
.stl_81 {
	letter-spacing: -0.0058em;
}

.ie .stl_81 {
	letter-spacing: -0.0781px;
}
.stl_82 {
	letter-spacing: -0.0089em;
}

.ie .stl_82 {
	letter-spacing: -0.119px;
}
.stl_83 {
	letter-spacing: -0.0054em;
}

.ie .stl_83 {
	letter-spacing: -0.0717px;
}
.stl_84 {
	letter-spacing: -0.0069em;
}

.ie .stl_84 {
	letter-spacing: -0.0926px;
}
.stl_85 {
	letter-spacing: 0.0049em;
}

.ie .stl_85 {
	letter-spacing: 0.0652px;
}
.stl_86 {
	letter-spacing: 0.0062em;
}

.ie .stl_86 {
	letter-spacing: 0.0829px;
}
.stl_87 {
	letter-spacing: 0.0013em;
}

.ie .stl_87 {
	letter-spacing: 0.0171px;
}
.stl_88 {
	letter-spacing: -0.0063em;
}

.ie .stl_88 {
	letter-spacing: -0.0847px;
}
.stl_89 {
	letter-spacing: -0.0088em;
}

.ie .stl_89 {
	letter-spacing: -0.1173px;
}
.stl_90 {
	letter-spacing: -0.006em;
}

.ie .stl_90 {
	letter-spacing: -0.0799px;
}
.stl_91 {
	letter-spacing: 0.0007em;
}

.ie .stl_91 {
	letter-spacing: 0.0088px;
}
.stl_92 {
	letter-spacing: 0.0008em;
}

.ie .stl_92 {
	letter-spacing: 0.0102px;
}
.stl_93 {
	letter-spacing: -0.002em;
}

.ie .stl_93 {
	letter-spacing: -0.0273px;
}
.stl_94 {
	letter-spacing: 0.0023em;
}

.ie .stl_94 {
	letter-spacing: 0.0304px;
}
.stl_95 {
	letter-spacing: 0.0081em;
}

.ie .stl_95 {
	letter-spacing: 0.1082px;
}
.stl_96 {
	letter-spacing: -0.0066em;
}

.ie .stl_96 {
	letter-spacing: -0.089px;
}
.stl_97 {
	letter-spacing: 0.0016em;
}

.ie .stl_97 {
	letter-spacing: 0.0219px;
}
.stl_98 {
	letter-spacing: -0.0092em;
}

.ie .stl_98 {
	letter-spacing: -0.123px;
}
.stl_99 {
	letter-spacing: 0.0032em;
}

.ie .stl_99 {
	letter-spacing: 0.0431px;
}
.stl_100 {
	letter-spacing: -0.0068em;
}

.ie .stl_100 {
	letter-spacing: -0.0916px;
}
.stl_101 {
	letter-spacing: 0.0065em;
}

.ie .stl_101 {
	letter-spacing: 0.0865px;
}
.stl_102 {
	letter-spacing: 0.0057em;
}

.ie .stl_102 {
	letter-spacing: 0.0766px;
}
.stl_103 {
	letter-spacing: -0.008em;
}

.ie .stl_103 {
	letter-spacing: -0.1066px;
}
.stl_104 {
	color: #000000;
	font-size: 0.672725em;
	font-family: "EKTFUH+ArialMT";
}
.stl_105 {
	color: #000000;
	font-size: 0.672725em;
	font-family: "UETBGN+Arial-ItalicMT";
}
.stl_106 {
	border-style: none;
	height: 95.33334em;
	width: 134.8333em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_107 {
	position: relative;
	width: 134.8333em;
}
.stl_108 {
	height: 9.533334em;
}
.ie .stl_108 {
	height: 95.33334em;
}
.stl_109 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "JSKGUG+Arial-BoldMT";
}
.stl_110 {
	letter-spacing: -0.0031em;
}

.ie .stl_110 {
	letter-spacing: -0.0409px;
}
.stl_111 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "EKTFUH+ArialMT";
}
.stl_112 {
	letter-spacing: -0.0001em;
}

.ie .stl_112 {
	letter-spacing: -0.0015px;
}
.stl_113 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "PJKGDQ+Arial-BoldMT";
}
.stl_114 {
	letter-spacing: 0.001em;
}

.ie .stl_114 {
	letter-spacing: 0.0133px;
}
.stl_115 {
	letter-spacing: 0.0018em;
}

.ie .stl_115 {
	letter-spacing: 0.0234px;
}
.stl_116 {
	letter-spacing: -0.0051em;
}

.ie .stl_116 {
	letter-spacing: -0.0677px;
}
.stl_117 {
	letter-spacing: -0.0074em;
}

.ie .stl_117 {
	letter-spacing: -0.0983px;
}
.stl_118 {
	letter-spacing: -0.0042em;
}

.ie .stl_118 {
	letter-spacing: -0.0559px;
}
.stl_119 {
	letter-spacing: 0.0012em;
}

.ie .stl_119 {
	letter-spacing: 0.0163px;
}
.stl_120 {
	letter-spacing: -0.0049em;
}

.ie .stl_120 {
	letter-spacing: -0.0643px;
}
.stl_121 {
	letter-spacing: -0.0006em;
}

.ie .stl_121 {
	letter-spacing: -0.0077px;
}
.stl_122 {
	letter-spacing: -0.0023em;
}

.ie .stl_122 {
	letter-spacing: -0.0304px;
}
.stl_123 {
	letter-spacing: 0.0017em;
}

.ie .stl_123 {
	letter-spacing: 0.022px;
}
.stl_124 {
	letter-spacing: 0.0034em;
}

.ie .stl_124 {
	letter-spacing: 0.045px;
}
.stl_125 {
	letter-spacing: 0.0028em;
}

.ie .stl_125 {
	letter-spacing: 0.0373px;
}
.stl_126 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "JEQKRG+ArialMT";
}
.stl_127 {
	letter-spacing: 0.0014em;
}

.ie .stl_127 {
	letter-spacing: 0.019px;
}
.stl_128 {
	letter-spacing: 0.0001em;
}

.ie .stl_128 {
	letter-spacing: 0.0009px;
}
.stl_129 {
	letter-spacing: -0.0032em;
}

.ie .stl_129 {
	letter-spacing: -0.0423px;
}
.stl_130 {
	letter-spacing: -0.0028em;
}

.ie .stl_130 {
	letter-spacing: -0.0374px;
}
.stl_131 {
	letter-spacing: -0.0048em;
}

.ie .stl_131 {
	letter-spacing: -0.0635px;
}
.stl_132 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "NFIPDG+Arial-BoldItalicMT";
}
.stl_133 {
	color: #000000;
	font-size: 0.826925em;
	font-family: "LJKVUV+Arial-BoldItalicMT";
}
.stl_134 {
	letter-spacing: -0.0056em;
}

.ie .stl_134 {
	letter-spacing: -0.0738px;
}
.stl_135 {
	letter-spacing: -0.0047em;
}

.ie .stl_135 {
	letter-spacing: -0.0619px;
}
.stl_136 {
	letter-spacing: 0.0003em;
}

.ie .stl_136 {
	letter-spacing: 0.0044px;
}
.stl_137 {
	letter-spacing: 0.0024em;
}

.ie .stl_137 {
	letter-spacing: 0.0312px;
}
.stl_138 {
	letter-spacing: 0.0036em;
}

.ie .stl_138 {
	letter-spacing: 0.0476px;
}
.stl_139 {
	letter-spacing: 0.0047em;
}

.ie .stl_139 {
	letter-spacing: 0.0628px;
}
.stl_140 {
	letter-spacing: -0.003em;
}

.ie .stl_140 {
	letter-spacing: -0.0399px;
}
.stl_141 {
	letter-spacing: 0.0026em;
}

.ie .stl_141 {
	letter-spacing: 0.0338px;
}
.stl_142 {
	letter-spacing: 0.0027em;
}

.ie .stl_142 {
	letter-spacing: 0.0355px;
}
.stl_143 {
	letter-spacing: -0.0038em;
}

.ie .stl_143 {
	letter-spacing: -0.0508px;
}
.stl_144 {
	letter-spacing: -0.0062em;
}

.ie .stl_144 {
	letter-spacing: -0.0821px;
}
.stl_145 {
	color: #000000;
	font-size: 0.673075em;
	font-family: "EKTFUH+ArialMT";
}
.stl_146 {
	letter-spacing: -0.0208em;
}

.ie .stl_146 {
	letter-spacing: -0.2237px;
}
.stl_147 {
	color: #000000;
	font-size: 0.673075em;
	font-family: "UETBGN+Arial-ItalicMT";
}
.stl_148 {
	letter-spacing: -0.0045em;
}

.ie .stl_148 {
	letter-spacing: -0.0484px;
}
.stl_149 {
	letter-spacing: -0.0201em;
}

.ie .stl_149 {
	letter-spacing: -0.2165px;
}
.stl_150 {
	letter-spacing: -0.0134em;
}

.ie .stl_150 {
	letter-spacing: -0.1438px;
}
.stl_151 {
	letter-spacing: -0.0071em;
}

.ie .stl_151 {
	letter-spacing: -0.0954px;
}
.stl_152 {
	letter-spacing: -0.0323em;
}

.ie .stl_152 {
	letter-spacing: -0.4324px;
}
.stl_153 {
	letter-spacing: -0.0037em;
}

.ie .stl_153 {
	letter-spacing: -0.0491px;
}
.stl_154 {
	letter-spacing: -0.0115em;
}

.ie .stl_154 {
	letter-spacing: -0.1539px;
}
.stl_155 {
	letter-spacing: -0.0138em;
}

.ie .stl_155 {
	letter-spacing: -0.1851px;
}
.stl_156 {
	letter-spacing: -0.0076em;
}

.ie .stl_156 {
	letter-spacing: -0.1019px;
}
.stl_157 {
	letter-spacing: -0.0059em;
}

.ie .stl_157 {
	letter-spacing: -0.0791px;
}
.stl_158 {
	letter-spacing: -0.023em;
}

.ie .stl_158 {
	letter-spacing: -0.3075px;
}
.stl_159 {
	letter-spacing: -0.004em;
}

.ie .stl_159 {
	letter-spacing: -0.0532px;
}
.stl_160 {
	letter-spacing: -0.0002em;
}

.ie .stl_160 {
	letter-spacing: -0.0026px;
}
.stl_161 {
	letter-spacing: -0.0072em;
}

.ie .stl_161 {
	letter-spacing: -0.096px;
}
.stl_162 {
	letter-spacing: 0.0064em;
}

.ie .stl_162 {
	letter-spacing: 0.0859px;
}
.stl_163 {
	letter-spacing: 0.0006em;
}

.ie .stl_163 {
	letter-spacing: 0.0082px;
}
.stl_164 {
	letter-spacing: -0.0078em;
}

.ie .stl_164 {
	letter-spacing: -0.1044px;
}
.stl_165 {
	position: relative;
	width: 127.5em;
}
.stl_166 {
	height: 9.016666em;
}
.ie .stl_166 {
	height: 90.16666em;
}
.stl_167 {
	letter-spacing: -0.0067em;
}

.ie .stl_167 {
	letter-spacing: -0.0896px;
}
.stl_168 {
	letter-spacing: -0.0168em;
}

.ie .stl_168 {
	letter-spacing: -0.2253px;
}
.stl_169 {
	letter-spacing: -0.0035em;
}

.ie .stl_169 {
	letter-spacing: -0.0465px;
}
.stl_170 {
	letter-spacing: 0.0051em;
}

.ie .stl_170 {
	letter-spacing: 0.0685px;
}
.stl_171 {
	letter-spacing: 0.0048em;
}

.ie .stl_171 {
	letter-spacing: 0.0644px;
}
.stl_172 {
	letter-spacing: 0.004em;
}

.ie .stl_172 {
	letter-spacing: 0.0537px;
}
.stl_173 {
	letter-spacing: 0.0056em;
}

.ie .stl_173 {
	letter-spacing: 0.0746px;
}
.stl_174 {
	letter-spacing: 0.0043em;
}

.ie .stl_174 {
	letter-spacing: 0.0573px;
}
.stl_175 {
	letter-spacing: 0.008em;
}

.ie .stl_175 {
	letter-spacing: 0.107px;
}
.stl_176 {
	letter-spacing: 0.0072em;
}

.ie .stl_176 {
	letter-spacing: 0.0965px;
}
.stl_177 {
	letter-spacing: 0.0087em;
}

.ie .stl_177 {
	letter-spacing: 0.1159px;
}
.stl_178 {
	letter-spacing: 0.0069em;
}

.ie .stl_178 {
	letter-spacing: 0.0922px;
}
.stl_179 {
	letter-spacing: 0.0038em;
}

.ie .stl_179 {
	letter-spacing: 0.0505px;
}
.stl_180 {
	letter-spacing: 0.0052em;
}

.ie .stl_180 {
	letter-spacing: 0.0699px;
}
.stl_181 {
	letter-spacing: 0.0046em;
}

.ie .stl_181 {
	letter-spacing: 0.0616px;
}
.stl_182 {
	border-style: none;
	height: 116.8333em;
	width: 82.66666em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_183 {
	position: relative;
	width: 82.66666em;
}
.stl_184 {
	height: 11.68333em;
}
.ie .stl_184 {
	height: 116.8333em;
}
.stl_185 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "JSKGUG+Arial-BoldMT";
}
.stl_186 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "EKTFUH+ArialMT";
}
.stl_187 {
	letter-spacing: -0.001em;
}

.ie .stl_187 {
	letter-spacing: -0.013px;
}
.stl_188 {
	letter-spacing: -0.0053em;
}

.ie .stl_188 {
	letter-spacing: -0.0708px;
}
.stl_189 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "PJKGDQ+Arial-BoldMT";
}
.stl_190 {
	letter-spacing: -0.0178em;
}

.ie .stl_190 {
	letter-spacing: -0.2378px;
}
.stl_191 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "LJKVUV+Arial-BoldItalicMT";
}
.stl_192 {
	letter-spacing: 0.0042em;
}

.ie .stl_192 {
	letter-spacing: 0.0554px;
}
.stl_193 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "NFIPDG+Arial-BoldItalicMT";
}
.stl_194 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "JEQKRG+ArialMT";
}
.stl_195 {
	letter-spacing: 0.0035em;
}

.ie .stl_195 {
	letter-spacing: 0.0469px;
}
.stl_196 {
	letter-spacing: 0.0037em;
}

.ie .stl_196 {
	letter-spacing: 0.0494px;
}
.stl_197 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "AFNJHQ+Arial-ItalicMT";
}
.stl_198 {
	letter-spacing: 0.0053em;
}

.ie .stl_198 {
	letter-spacing: 0.0704px;
}
.stl_199 {
	letter-spacing: -0.0034em;
}

.ie .stl_199 {
	letter-spacing: -0.0449px;
}
.stl_200 {
	letter-spacing: 0.007em;
}

.ie .stl_200 {
	letter-spacing: 0.0933px;
}
.stl_201 {
	letter-spacing: 0.0045em;
}

.ie .stl_201 {
	letter-spacing: 0.0604px;
}
.stl_202 {
	letter-spacing: -0.0039em;
}

.ie .stl_202 {
	letter-spacing: -0.0514px;
}
.stl_203 {
	letter-spacing: 0.0021em;
}

.ie .stl_203 {
	letter-spacing: 0.0275px;
}
.stl_204 {
	color: #000000;
	font-size: 0.666667em;
	font-family: "EKTFUH+ArialMT";
}
.stl_205 {
	letter-spacing: -0.0109em;
}

.ie .stl_205 {
	letter-spacing: -0.1159px;
}
.stl_206 {
	color: #000000;
	font-size: 0.666667em;
	font-family: "UETBGN+Arial-ItalicMT";
}
.stl_207 {
	letter-spacing: -0.0123em;
}

.ie .stl_207 {
	letter-spacing: -0.1307px;
}
.stl_208 {
	letter-spacing: -0.0096em;
}

.ie .stl_208 {
	letter-spacing: -0.1021px;
}
.stl_209 {
	border-style: none;
	height: 103.3333em;
	width: 146.0833em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_210 {
	position: relative;
	width: 146.0833em;
}
.stl_211 {
	height: 10.33333em;
}
.ie .stl_211 {
	height: 103.3333em;
}
.stl_212 {
	letter-spacing: -0.0044em;
}

.ie .stl_212 {
	letter-spacing: -0.0585px;
}
.stl_213 {
	letter-spacing: -0.0091em;
}

.ie .stl_213 {
	letter-spacing: -0.1216px;
}
.stl_214 {
	letter-spacing: -0.0278em;
}

.ie .stl_214 {
	letter-spacing: -0.3711px;
}
.stl_215 {
	letter-spacing: -0.0075em;
}

.ie .stl_215 {
	letter-spacing: -0.1003px;
}
.stl_216 {
	letter-spacing: -0.007em;
}

.ie .stl_216 {
	letter-spacing: -0.0932px;
}
.stl_217 {
	letter-spacing: -0.0057em;
}

.ie .stl_217 {
	letter-spacing: -0.0758px;
}
.stl_218 {
	letter-spacing: -0.0094em;
}

.ie .stl_218 {
	letter-spacing: -0.1249px;
}
.stl_219 {
	letter-spacing: -0.0086em;
}

.ie .stl_219 {
	letter-spacing: -0.1145px;
}
.stl_220 {
	letter-spacing: -0.0129em;
}

.ie .stl_220 {
	letter-spacing: -0.1724px;
}
.stl_221 {
	letter-spacing: -0.0133em;
}

.ie .stl_221 {
	letter-spacing: -0.1774px;
}
.stl_222 {
	letter-spacing: -0.0077em;
}

.ie .stl_222 {
	letter-spacing: -0.1021px;
}
.stl_223 {
	letter-spacing: -0.0064em;
}

.ie .stl_223 {
	letter-spacing: -0.0856px;
}
.stl_224 {
	letter-spacing: -0.0151em;
}

.ie .stl_224 {
	letter-spacing: -0.2017px;
}
.stl_225 {
	letter-spacing: -0.0029em;
}

.ie .stl_225 {
	letter-spacing: -0.0388px;
}
.stl_226 {
	letter-spacing: -0.005em;
}

.ie .stl_226 {
	letter-spacing: -0.0664px;
}
.stl_227 {
	letter-spacing: -0.0132em;
}

.ie .stl_227 {
	letter-spacing: -0.1753px;
}
.stl_228 {
	letter-spacing: -0.0099em;
}

.ie .stl_228 {
	letter-spacing: -0.132px;
}
.stl_229 {
	letter-spacing: -0.0102em;
}

.ie .stl_229 {
	letter-spacing: -0.1365px;
}
.stl_230 {
	letter-spacing: -0.0081em;
}

.ie .stl_230 {
	letter-spacing: -0.1086px;
}
.stl_231 {
	letter-spacing: -0.0052em;
}

.ie .stl_231 {
	letter-spacing: -0.0694px;
}
.stl_232 {
	letter-spacing: -0.0083em;
}

.ie .stl_232 {
	letter-spacing: -0.1106px;
}
.stl_233 {
	letter-spacing: -0.0114em;
}

.ie .stl_233 {
	letter-spacing: -0.1524px;
}
.stl_234 {
	letter-spacing: -0.0122em;
}

.ie .stl_234 {
	letter-spacing: -0.1632px;
}
.stl_235 {
	letter-spacing: -0.0131em;
}

.ie .stl_235 {
	letter-spacing: -0.1743px;
}
.stl_236 {
	letter-spacing: -0.0061em;
}

.ie .stl_236 {
	letter-spacing: -0.0809px;
}
.stl_237 {
	letter-spacing: -0.0024em;
}

.ie .stl_237 {
	letter-spacing: -0.0324px;
}
.stl_238 {
	letter-spacing: -0.0139em;
}

.ie .stl_238 {
	letter-spacing: -0.1485px;
}
.stl_239 {
	letter-spacing: -0.0095em;
}

.ie .stl_239 {
	letter-spacing: -0.1008px;
}
.stl_240 {
	border-style: none;
	height: 76.25em;
	width: 107.8333em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_241 {
	position: relative;
	width: 107.8333em;
}
.stl_242 {
	height: 7.625em;
}
.ie .stl_242 {
	height: 76.25em;
}
.stl_243 {
	color: #000000;
	font-size: 0.830767em;
	font-family: "JSKGUG+Arial-BoldMT";
}
.stl_244 {
	color: #000000;
	font-size: 0.830767em;
	font-family: "EKTFUH+ArialMT";
}
.stl_245 {
	color: #000000;
	font-size: 0.830767em;
	font-family: "PJKGDQ+Arial-BoldMT";
}
.stl_246 {
	color: #000000;
	font-size: 0.830767em;
	font-family: "JEQKRG+ArialMT";
}
.stl_247 {
	letter-spacing: -0.0046em;
}

.ie .stl_247 {
	letter-spacing: -0.0609px;
}
.stl_248 {
	letter-spacing: -0.0107em;
}

.ie .stl_248 {
	letter-spacing: -0.1426px;
}
.stl_249 {
	color: #000000;
	font-size: 0.830767em;
	font-family: "UETBGN+Arial-ItalicMT";
}
.stl_250 {
	color: #000000;
	font-size: 0.661542em;
	font-family: "EKTFUH+ArialMT";
}
.stl_251 {
	color: #000000;
	font-size: 0.661542em;
	font-family: "UETBGN+Arial-ItalicMT";
}
